nav > div > ul {
  list-style: none;
  height: 100%;
  width: 100%;
}

  nav > div > ul > li {
    height: 75px;
    width: 100%;
  }

    nav > div > ul > li > a {
      font-family: 'teko-regular';
      text-decoration: none;
      font-size: 30px;
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      line-height: 75px;
    }

      nav > div > ul > li > a:active {
        color: #000;
      }

      nav > div > ul > li > a:visited {
        color: #000;
      }

      nav > div > ul > li > a:hover {
        background-color: #f3f3f3;
        cursor: pointer;
      }
