<div class="page_box access">
    <div class="left_side">
        <table>
            <caption>Access Control Devices</caption>
            <thead>
            <tr>
                <th>Friendly Name</th>
                <th>Device ID</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="acd in acds">
                <td>{{acd.friendlyName}}</td>
                <td>{{acd.deviceId}}</td>
                <td ng-click="edit(acd)">Edit</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="right_side" ng-switch="state">
        <div ng-switch-when="edit">
            <form name="form" ng-submit="save(device)">
                <div class="form-group">
                    <label for="friendlyName">Name</label>
                    <input type="text" name="friendlyName" id="friendlyName" class="form-control" ng-model="device.friendlyName" required />
                    <span ng-if="form.friendlyName.$dirty && form.friendlyName.$error.required" class="help-block">Name is required</span>
                </div>
                <div class="form-group">
                    <label for="doors">Doors</label>
                    <select name="doors" id="doors" class="form-control" ng-model="possibleDoors.value" ng-options="door.friendlyName for door in possibleDoors.options" ng-change="addDoor()"></select>
                    <div class="group">
                        <span ng-repeat="door in device.doors">{{door.friendlyName}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="isConfigured" id="isConfigured" class="form-control" ng-model="device.isConfigured" class="btn" />
                </div>
                <div class="form-group">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn">save</button>
                </div>
            </form>
        </div>
    </div>
</div>
