<div class="devices_box">
    <div class="left_side">
        <table>
            <caption>Devices</caption>
            <thead>
            <tr>
                <th>Friendly Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="device in devices">
                <td>{{device.friendlyName}}</td>
                <td ng-click="edit(device)">Edit</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="right_side" ng-switch="state">
        <div ng-switch-when="edit">
            <form name="form" ng-submit="save(device)">
                <div class="form-group">
                    <label for="friendlyName">Name</label>
                    <input type="text" name="friendlyName" id="friendlyName" class="form-control" ng-model="device.friendlyName" required />
                    <span ng-if="form.friendlyName.$dirty && form.friendlyName.$error.required" class="help-block">Name is required</span>
                </div>
                <div class="form-group">
                    <label for="doors">Users</label>
                    <select name="users" id="doors" class="form-control" ng-model="possibleUsers.value" ng-options="(user.firstName + ' ' + user.lastName) for user in possibleUsers.options" ng-change="addUser()"></select>
                </div>
                <div class="form-group">
                    <input type="button" name="isConfigured" id="isConfigured" class="form-control" ng-model="device.isConfigured" class="btn" />
                </div>
                <div class="form-group">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn">save</button>
                </div>
            </form>
        </div>
    </div>
</div>
