<div class="dialog-overlay">
  <div class="dialog">
    <div class="dialog-header">
      <span>{{Title}}</span>
      <span *ngIf="CanClose" class="close-button" (click)="CloseClicked()">&times;</span>
    </div>
    <div class="dialog-body">
      <div>
        <ng-content></ng-content>
      </div>
    </div>
    <div class="dialog-footer">
      <span *ngFor="let b of Buttons">
        <button (click)="b.Action()">
          {{b.Text}}
        </button>
      </span>
    </div>
  </div>
</div>
