<div class="login_box">
  <div class="title">
    Reset Password
  </div>
  <div *ngIf="Message" class="error" role="alert">{{ Message }}</div>
  <form [formGroup]="PasswordResetForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" id="username" class="form-control" ng-model="username" required [ngClass]="{ 'is-invalid': Submitted && f.username.errors }" />
      <span *ngIf="Submitted && f.username.errors" class="help-block">
        <span *ngIf="f.username.errors.required">Username is required</span>
      </span>
    </div>
    <div class="form-group">
      <button type="button" [disabled]="Loading || SendingNewCode" class="btn btn-secondary" (ngClick)="sendNewCode()">
        Request new code
      </button>
    </div>
    <div class="form-group">
      <label for="resetCode">Reset code</label>
      <input type="text" formControlName="resetCode" id="resetCode" class="form-control" ng-model="resetCode" required [ngClass]="{ 'is-invalid': Submitted && f.resetCode.errors }" />
      <span *ngIf="Submitted && f.resetCode.errors" class="invalid-feedback">
        <span *ngIf="f.resetCode.errors.required">Reset code is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="newPassword">New password</label>
      <input type="password" formControlName="newPassword" id="newPassword" class="form-control" ng-model="newPassword" required [ngClass]="{ 'is-invalid': Submitted && f.newPassword.errors }" />
      <span *ngIf="Submitted && f.newPassword.errors" class="invalid-feedback">
        <span *ngIf="f.newPassword.errors.required">New password is required</span>
      </span>
    </div>
    <div class="form-group">
      <label for="newPasswordConfirm">Confirm new password</label>
      <input type="password" formControlName="newPasswordConfirm" id="newPasswordConfirm" class="form-control" ng-model="newPasswordConfirm" required [ngClass]="{ 'is-invalid': Submitted && f.newPasswordConfirm.errors }" />
      <span *ngIf="Submitted && f.newPasswordConfirm.errors" class="invalid-feedback">
        <span *ngIf="f.newPasswordConfirm.errors.required">New password is required</span>
      </span>
    </div>
    <div class="form-group">
      <button [disabled]="Loading" class="btn btn-primary">
        Reset password
      </button>
    </div>
  </form>
  <div class="loading" *ngIf="Loading">
    <div class="spinner"></div>
  </div>
</div>
