<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.js" integrity="sha256-JCDFk3Tc3BypchwzSjKv7pLwYQKAyuDRs5UrEnm8KyQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js" integrity="sha256-b5NvmvUcyr0wpBOLnNbaWH5zKQAivhj8yMYhfXEumQA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js.map" integrity="undefined" crossorigin="anonymous"></script>
    <script>
        var app = angular.module('app', []);
    </script>
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body>
<div class="page">
    <div class="header">
        <img src="~/images/logo_icon.svg" alt="Logo" class="icon"/>
        <span class="title">GuardRail</span>
    </div>
    <div class="menu">
        <ul>
            <li>Home</li>
            <li>Users</li>
            <li>Devices</li>
            <li>Doors</li>
            <li>Map</li>
        </ul>
    </div>
    <div class="body">
        @RenderBody()
    </div>
</div>
</body>
</html>
