@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
@section Scripts
{
    <script type="text/javascript" src="~/js/homeController.js"></script>
}
<div ng-controller="homeController">
    asdf
</div>