<div>
  <div>
    <div class="accounts">
      @if (SingleAccount) {
      <div>
        <span>
          {{SelectedAccount.Name}}
        </span>
      </div>
      } @else {
      <select (change)="LoadCurrentAccount()"
              [(value)]="SelectedAccount">
        @for (acc of Accounts; track acc.Guid) {
        <option [value]="acc.Guid">
          {{acc.Name}}
        </option>
        }
      </select>
      }
    </div>
  </div>
  <div>
    <div class="left">
      <NavBar />
    </div>
    <div class="right">
      <div>
        <access-points *ngIf="ShowAccessPoints"></access-points>
        <locations *ngIf="ShowLocations"></locations>
        <users *ngIf="ShowUsers"></users>
      </div>
    </div>
  </div>
</div>
