@font-face {
    font-family: 'teko-regular';
    src: url('../fonts/teko-regular.ttf') format('truetype');
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.loading_box > .loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(204, 204, 204, 0.5);
}

    .loading_box > .loading > .spinner {
        border-top: #f3f3f3 solid 5px;
        border-left: #f3f3f3 solid 5px;
        border-right: #f3f3f3 solid 5px;
        border-bottom: #a9a9a9 solid 5px;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        background-color: transparent;
    }

.page {
    width: 100%;
    height: 100%;
}

    .page > .header {
        width: 100%;
        height: 50px;
        background-color: #f3f3f3;
    }

        .page > .header > .icon {
            height: calc(100% - 14px);
            margin: 7px;
            float: left;
            clear: none;
        }

        .page > .header > .title {
            font-family: 'teko-regular';
            font-size: 25px;
            height: calc(100% - 10px);
            margin: 5px;
            float: left;
            clear: none;
            line-height: 40px;
        }

    .page .menu {
        float: left;
        clear: none;
        height: calc(100% - 50px);
        width: 200px;
        background-color: #ccc;
    }

        .page .menu > ul {
            list-style: none;
            height: 100%;
            width: 100%;
        }

            .page .menu > ul > li {
                height: 75px;
                width: 100%;
            }

                .page .menu > ul > li > a {
                    font-family: 'teko-regular';
                    text-decoration: none;
                    font-size: 30px;
                    width: 100%;
                    height: 100%;
                    display: block;
                    text-align: center;
                    line-height: 75px;
                }

                    .page .menu > ul > li > a:active {
                        color: #000;
                    }

                    .page .menu > ul > li > a:visited {
                        color: #000;
                    }

                    .page .menu > ul > li > a:hover {
                        background-color: #f3f3f3;
                        cursor: pointer;
                    }

    .page > .body {
        float: left;
        clear: none;
        height: calc(100% - 50px);
        width: calc(100% - 200px);
    }

        .page > .body.full {
            width: 100%;
        }

        .page > .body > .page_box {
            float: left;
            clear: none;
            height: calc(100% - 50px);
            width: calc(100% - 200px);
        }

            .page > .body > .page_box > .left_side {
                float: left;
                clear: none;
                height: 100%;
                width: calc(50% - 20px);
                padding: 10px 10px 0 10px;
            }

                .page > .body > .page_box > .left_side > table {
                    width: 100%;
                }

            .page > .body > .page_box > .right_side {
                float: left;
                clear: none;
                height: 100%;
                width: calc(50% - 20px);
                padding: 10px 10px 0 10px;
            }

                .page > .body > .page_box > .right_side > div {
                    height: 100%;
                    width: 100%;
                }

                    .page > .body > .page_box > .right_side > div > form {
                        height: 100%;
                        width: 100%;
                    }
