<div>
  <div class="options">
    <ul>
      <li>
        <select (change)="LocationSelectionChanged($event)">
          @for (l of Locations; track l.Guid) {
          <option [value]="l.Guid">
            {{l.Name}}
          </option>
          }
        </select>
      </li>
      <li (click)="StartAdd()">
        <div></div>
        <span>
          Add
        </span>
      </li>
      <li *ngIf="SingleItemSelected"
          (click)="StartEdit()">
        <div></div>
        <span>
          Edit
        </span>
      </li>
      <li *ngIf="SingleItemSelected || MultipleItemsSelected"
          (click)="StartDelete()">
        <div></div>
        <span>
          Delete
        </span>
      </li>
    </ul>
  </div>
  <div class="list">
    <div>
      @for (ap of AccessPoints; track ap.Guid) {
      <div>{{ap.Name}}</div>
      }
    </div>
  </div>
  <div class="sidebar" *ngIf="SidebarOpen">
    <div class="close" (click)="CloseSideBar()">X</div>
    <div *ngIf="AddItem">
      <TextInput Label="Name"
                 Value="CreateAccessPointRequest.Name"></TextInput>
      <TextInput Label="Description"
                 Value="CreateAccessPointRequest.Description"></TextInput>
      <TextInput Label="Name"
                 Value="CreateAccessPointRequest.Name"></TextInput>
      <NumberInput Label="Latitude"
                   Value="CreateAccessPointRequest.Latitude"></NumberInput>
      <NumberInput Label="Geo-fence Distance"
                   Value="CreateAccessPointRequest.GeoFenceDistance"></NumberInput>
      <div>
        <label>
          <span>
            IsMobile
          </span>
          <input type="checkbox" value="{CreateAccessPointRequest.IsMobile}" />
        </label>
      </div>
      <button (click)="CreateAccessPoint()">Add Access Point</button>
    </div>
    <div *ngIf="EditingSingle">
      <TextInput Label="Name"
                 Value="CreateAccessPointRequest.Name"></TextInput>
      <TextInput Label="Description"
                 Value="CreateAccessPointRequest.Description"></TextInput>
      <TextInput Label="Name"
                 Value="CreateAccessPointRequest.Name"></TextInput>
      <NumberInput Label="Latitude"
                   Value="CreateAccessPointRequest.Latitude"></NumberInput>
      <NumberInput Label="Geo-fence Distance"
                   Value="CreateAccessPointRequest.GeoFenceDistance"></NumberInput>
      <div>
        <label>
          <span>
            IsMobile
          </span>
          <input type="checkbox" value="{CreateAccessPointRequest.IsMobile}" />
        </label>
      </div>
      <button (click)="EditAccessPoint()">Edit Access Point</button>
    </div>
    <div *ngIf="Deleting">
      Would you like to delete these item(s)?
      <button (click)="DeleteAccessPoint()">Delete Access Point(s)</button>
    </div>
  </div>
</div>
