<nav>
  <div>
    <ul >
      <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/users']">Users</a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/devices']">Devices</a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/doors']">Doors</a>
      </li>
      <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/map']">Map</a>
      </li>
    </ul>
  </div>
</nav>
